---
layout: default
id: overview
nav: true
nav-order: 1
title: Überblick

banner:
  title: Aruba
  title-sub: Eine Insel, die glücklich macht

highlights:

  - number: 1
    id: paradiesische-strande
    title: Paradiesische Strände
    description: "Die endlosen, feinen Sandstrände Arubas zählen offiziell zu den schönsten der Welt: angenehme Wassertemperaturen von rund 25 °C, stets eine sanfte Brise und kristallklares Wasser soweit das Auge reicht, zeichnen die hohe Strandqualität der Insel aus. Während im Westen und Süden weiße Puderzuckerstrände locken, laden versteckte Strände und natürliche Höhlen im Norden und Osten dazu ein, auf Entdeckungstour zu gehen. Selbst unter Wasser warten Attraktionen, die die Strände zum Schnorcheln und Tauchen so einzigartig machen: äußerst klares Wasser, tropische Fische, farbenprächtige Korallen und eine Unterwasser-Sichtweite von oft mehr als 30 Metern. Auch die Bedingungen zum Wind- und Kitesurfen sind ideal, die Karibikinsel zählt zu den weltweit besten Surfspots."

  - number: 2
    id: herzlichkeit-der-inselbewohner
    title: Herzlichkeit der Inselbewohner
    description: "Mehr als 110.000 Menschen aus über 90 Nationen leben auf Aruba. Ein ausgezeichnetes, sehr sicheres Lebensumfeld und das traumhafte Wetter haben in der Vergangenheit viele Einwanderer auf die Insel gelockt. Die Bewohner, eine internationale und lebenslustige Gemeinschaft, verbindet eine starke nationale Identität, getragen von dem guten Bildungssystem und einem für die Karibik sehr hohen Lebensstandard. Ihre Authentizität und herzliche Mentalität, die von unheimlicher Leichtigkeit und guter Laune bestimmt ist, machen das Urlaubsglück auf der Insel perfekt. Spüren Sie es hautnah selbst und lassen Sie sich anstecken – von dem positiven Lebensgefühl der Arubaner."

  - number: 3
    id: absolute-sonnengarantie
    title: Absolute Sonnengarantie
    description: "Die Sonne scheint – „Solo ta brilla”,  ein viel gehörter Ausspruch unter Arubanern auf der Insel mit den meisten Sonnenstunden der gesamten Karibik. 365 Tage Sonne und eine durchschnittliche Temperatur von angenehmen 28 °C machen die südliche Karibikinsel zu einem attraktiven Reiseziel zu jeder Jahreszeit. Zusätzlich sorgen ständig wehende Passatwinde, besonders beim Sonnenbaden am Strand oder Pool, für eine angenehm leichte Brise unter der wohlig-warmen Sonne. Besonders sicher: Aruba liegt außerhalb des Hurrikangebiets, tropische Wirbelstürme gibt es hier quasi nicht."

  - number: 4
    id: auf-tuchfuhlung-mit-flamingos
    title: Auf Tuchfühlung mit Flamingos
    description: "Kräftig leuchtende pink-orange Flamingos, die vor türkisschimmernden Wasser am Strand stolzieren und ein beeindruckendes Fotomotiv abgeben, wie man es sonst nur aus der Werbung kennt: Flamingos haben auf Aruba Kultstatus. Auf der vorgelagerten Privatinsel Renaissance Island leben sie am Flamingo Beach in freier Wildbahn, während Sie gemütlich am Strand liegen und nach dem besten Schnappschuss Ausschau halten. Nutzen Sie die Gelegenheit für ein Flamingo-Selfie mit den exotischen Vögeln und statten Sie der Nachbarinsel auf jeden Fall einen Besuch ab. In nur 10 Minuten erreichen Sie die Flamingo-Insel vom Renaissance Hotel in Oranjestad (gegen Gebühr)."

  - number: 5
    id: divi-divi-baume
    title: Divi-Divi-Bäume
    description: "Die windgekrümmten Divi-Divi-Bäume sind zugleich Sensation, Kompass und Wahrzeichen Arubas. Sie säumen die Prachtstrände der gesamten Insel, gelten als natürlicher Schattenspender und vor allem als guter Wegweiser, wo auch immer Sie sich auf der Insel befinden. Denn die Bäume wachsen mit den stetigen Passatwinden, die aus Nordosten wehen. Alle Divi-Divi-Bäume weisen daher verlässlich Richtung Südwest."

  - number: 6
    id: vielfaltige-kuche
    title: Vielfältige Küche
    description: "Die Küche Arubas gilt als eine der besten der Karibik. Als Feinschmecker kommen Sie hier garantiert auf Ihre Kosten. Von niederländischen „Bitterballen“ über Ziegenfleisch mit Curry bis hin zu Gerichten aus Asien, Afrika und der Karibik – die traditionelle Inselküche steckt voller internationaler Einflüsse. Ergänzt wird diese Geschmacksvielfalt um fangfrischen Fisch, kreolische Kräutermischungen und Eintöpfe mit Reis, die mit südamerikanischen und afrikanischen Gewürzen verfeinert himmlisch exotisch duften. Typisch ist die lokale Papaya Sauce „Pica di Papaya” für alle, die es gern pikant mögen. Ein Klacks der würzig-scharfen Soße rundet jedes Gericht, vom Frühstücksei bis zum Grillsteak, geschmacklich ab."

  - number: 7
    id: farbenfrohe-kultur
    title: Farbenfrohe Kultur
    description: "Bei zahlreichen Festen und Aktivitäten können Sie das ganze Jahr die vielfältige Kultur Arubas entdecken. Die Feierlichkeiten während des Karnevals sind besonders sehenswert. Wer es zeitlich nicht schafft, kann beim wöchentlichen Bonbini Festival arubanischen Karneval im Kleinformat hautnah miterleben. Hier werden traditionelle Handwerkskünste und Tänze vorgeführt. Musikliebhaber können sich auf Veranstaltungen wie das Caribbean Sea Jazz Festival oder das Electric Festival freuen. Bei der Aruba Art Fair im Herbst verwandelt sich San Nicolas in eine riesige Kunstgalerie. Einheimische Köstlichkeiten zu günstigen Preisen zu probieren, macht der legendäre Aruba Restaurant Month im Oktober möglich."

  - number: 8
    id: sup-yoga
    title: SUP Yoga
    description: "Yoga an Land war gestern – beim SUP-Yoga tauschen Sie die Yogamatte gegen ein Paddleboard im türkisblauen, karibischen Meer. Die Kombination aus Stand-Up-Paddling und Yoga wurde zu einem echten Trend auf der Karibikinsel und verbindet nicht nur beide Sportarten, sondern auch Fitness und Entspannung vor atemberaubender Naturkulisse. Gut zu wissen – nicht nur für Yoga-Liebhaber: Im Wellness-Monat Juni steht die ganze Insel im Zeichen von Entspannung, Bewegung und gesunder Ernährung."

  - number: 9
    id: romantik
    title: Romantik
    description: "Aruba ist Romantik pur: Auf der südlichen Karibikinsel finden Sie viele Garanten für einen traumhaft romantischen Urlaub. Unberührte weiße Sandstrände, einsame Buchten, surreale Sonnenuntergänge, Abenteuer in wilder Natur, vielfältige Inselküche und die romantischsten Resorts der gesamten Karibik. Können Sie sich für Ihre nächste Reise zu zweit einen schöneren Urlaubsort vorstellen? Egal, ob Hochzeitsreise oder eine erholsame Auszeit vom Alltag – auf Aruba finden Sie garantiert die perfekte Kulisse im Paradies, damit Sie sich gleich noch einmal verlieben. Übrigens: Mit versteckten Höhlen und schillernden Korallenriffen stehen zahlreiche exotische Orte zur Verfügung, um sich das Jawort zu geben."

  - number: 10
    id: nachhaltige-destination
    title: Nachhaltige Destination
    description: "Insgesamt nur 85 Hotels in der Karibik sind mit dem Nachhaltigkeitssiegel „EarthCheck” zertifiziert, davon befinden sich allein 10 Prozent auf Aruba. Im Bereich Wind- und Solarenergie verfügt die Insel zudem über ein enormes Potential für nachhaltige Energiegewinnung – dank ihrer mehr als 5.000 Wind- und 2.500 Sonnenstunden pro Jahr. Es gibt Pläne, dass die Insel schon bis 2020 ihre gesamte Energie zu 100 Prozent aus erneuerbaren Energieträgern beziehen können soll. Wenn diese Vision vielleicht schon bald Wirklichkeit wird, wäre Aruba eine der nachhaltigsten Inselnationen der Welt."
---

<div class="vpad--xl bg--light">
  <div class="container">
    <div class="width width--lg text--center">
      <p class="text--xl">{{site.description}}</p>
    </div>
  </div>
</div>

<div class="vpad--xxl">
  <div class="container">
    <div class="text--center">
      <h2 class="title title--xl title--pink">Aruba Top 10</h2>
    </div>
    <div class="space--xl"></div>
    <div class="row row--sm-6-6 row--lg-4-4-4">
      {% assign highlights = page.highlights | sort: "number" | reverse %}
      {% for highlight in highlights %}
        <div class="col{% if highlight.number <= 4 %} col--6{% endif %}">
          <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/top-ten/{{highlight.id}}.jpg');">
            <a class="js-open-modal bg-img__link" data-open-modal="{{highlight.id}}"></a>
            <div class="bg-img__bg-overlay"></div>
            <div class="bg-img__content">
              <div class="script-title title--xxxl">{{highlight.number}}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>