---
layout: default
---

<div class="vpad--xl bg--light">
  <div class="container">
    <div class="width width--lg text--center text--lg">
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>

<div class="vpad--xl">
  <div class="container">
    {% for topic in page.topics %}
      <div class="bob {% cycle '', ' bob--swap' %}">
        <div class="bob__img">
          <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/{{topic.id}}.jpg');">
            {% if topic.link %}<a class="bg-img__link" href="{{topic.link}}"></a>{% endif %}
          </div>
        </div>
        <div class="bob__text">
          <h2 class="title title--md title--pink">{{topic.title}}</h2>
          <p>{{topic.content}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>