<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="content-spacing section-spacing">
      {{ content }}
    </div>

    {% unless page.id == "offers" or page.id == "competition" %}
      <div class="vpad--xxl bg--light-grey">
        <div class="container">
          <div class="text--center">
            <h3 class="title title--xl">Angebote</h3>
            <div class="space--lg"></div>
          </div>
          {% include offer/variables.html %}
          <div class="row row--xl-6-6 row--gutters-lg">
            {% for offer in offers-by-price limit:2 %}
              <div class="col">
                {% include offer/offer.html %}
              </div>
            {% endfor %}
          </div>
          <div class="text--center">
            <div class="space--xl"></div>
            <a href="{{site.baseurl}}/angebote" class="btn btn--orange btn--lg">Alle Angebote sehen</a>
          </div>
        </div>
      </div>
    {% endunless %}

    {% include page/footer.html %}

    {% include modal/modal.html %}

  </body>

</html>