---
layout: default
id: klm
title: KLM Royal Dutch Airlines
nav: true
nav-order: 5
nav-title: KLM
content-pages: true

intro: Mit der niederländischen Airline KLM Royal Dutch Airlines landen Sie schnell und bequem auf Aruba. Zahlreiche Zubringerflüge, die täglich von einer Vielzahl deutscher Flughäfen starten, bringen Sie über Amsterdam in die Karibik. Wählen Sie unter verschiedenen Reiseklassen und lassen Sie sich von nachhaltigen Lebensmitteln an Bord überraschen. Dabei legt die Airline auch großen Wert auf die  CO₂-Reduzierung und arbeitet an Innovationen mit dem Ziel, die CO₂-Emissionen pro Passagier bis zum Jahr 2020 um 20% zu senken (verglichen mit 2011).

topics:

  - id: uber-klm
    title: Über KLM
    content: KLM ist nicht nur die älteste noch unter ihrem ursprünglichen Namen operierende und eine der erfahrensten Airlines, sondern setzt auch gezielt auf Nachhaltigkeit. So trifft KLM Maßnahmen für die Erneuerung der Flotte und den Einsatz von nachhaltigem Biotreibstoff und schafft es, mit zahlreichen Projekten den ökologischen Fußabdruck zu minimieren und sich um soziale Belange zu kümmern.

  - id: das-streckennetz
    title: Das Streckennetz
    content: "KLM ist Mitglied der zweitgrößten globalen Luftfahrt-Allianz SkyTeam und unterhält weltweit Kooperationen und Partnerschaften. Der wichtigste Partner ist Air France: Der Zusammenschluss zur gemeinsamen Holding AIR FRANCE KLM erfolgte im Mai 2004, beide Fluglinien blieben jedoch bestehen. Das Streckennetz umfasst mehr als 300 Destinationen in über 116 Ländern."

  - id: mit-klm-nach-aruba
    title: Mit KLM nach Aruba
    content: Mit über 40 Zubringerflügen täglich von 9 deutschen Flughäfen (Berlin, Bremen, Düsseldorf, Frankfurt, Hamburg, Hannover, München, Nürnberg und Stuttgart) bringt KLM Royal Dutch Airlines Sie schnell und bequem über Amsterdam-Schiphol auf die schöne niederländische Karibikinsel.

  - id: klm-business-class
    title: KLM Business Class
    content: "Auf der Langstrecke ist KLM in verschiedenen Reiseklassen ausgestattet, so auch mit der neuen World Business Class. Die Boeings vom Typ 787, 777 und 747 sind bereits mit Liegesitzen ausgestattet, die sich in ein reelles Bett verwandeln lassen. Sie gehören zu den längsten Sitzen in der Luft: Ganz ausgeklappt sind es 2,00 – 2,07 m lange Schlafsitze."

  - id: nachhaltigkeit
    title: Nachhaltigkeit
    content: Für die Fluglinie KLM ist es laut eigenen Angaben wichtig, nachhaltige Lebensmittel wie Kaffee oder Schokolade mit dem UTZ-Siegel sowie Fisch mit dem Label der MSC/ASC-Organisation für nachhaltigen Fischfang, Bio-Eier und andere Bio-Produkte anzubieten. Faire Behandlung aller Lieferanten vom großen Handelspartner bis zum Kleinbauern – inklusive anständiger Vergütung – spielt hier eine übergeordnete Rolle.
---

<div class="vpad--xl bg--light">
  <div class="container">
    <div class="width width--lg text--center text--lg">
      <p>{{page.intro}}</p>
      <div class="space--md"></div>
      <a href="https://klmf.ly/2QtCltY" class="btn btn--outline btn--outline-pink">Jetzt Ihren Flug nach Aruba buchen</a>
    </div>
  </div>
</div>

<div class="vpad--xl">
  <div class="container">
    {% for topic in page.topics %}
      <div class="bob {% cycle '', ' bob--swap' %}">
        <div class="bob__img">
          <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/{{topic.id}}.jpg');">
            {% if topic.link %}<a class="bg-img__link" href="{{topic.link}}"></a>{% endif %}
          </div>
        </div>
        <div class="bob__text">
          <h2 class="title title--md title--pink">{{topic.title}}</h2>
          <p>{{topic.content}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div>
    <div class="container">
      <div class="space--xxl text--center">
        <a href="https://klmf.ly/2QtCltY" class="btn btn--pink">Jetzt Ihren Flug nach Aruba buchen</a>
      </div>
    </div>
  </div>
</div>